<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1586369610007-2b1cc66dadde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); background-position: center top;">
  <div class="container">
    <h1>Check political claims against <strong>statistical reality</strong>!</h1>
    <p>Because it's 2020, yet something like this is still necessary.</p>
    <a class="btn btn-primary" href="#">How it works</a>
  </div>
</div>
<div class="container">
  <div class="about-section">
    <h3 style="text-align: center; margin-bottom: 20px;">Why Build This?</h3>
    <div class="about-contents">
      <p>Something strange has been happening over the past few years, where people of opposing political viewpoints can't seem to agree on what events are transpiring in basic reality. Flip between Fox News and MSNBC and you'd think you were looking through a portal into the multiverse, describing two totally different realities.</p>
      <p>To me it seems that this is part of a "fight for survival" by antiquated economic entities (major media news outlets) thrashing about in an attempt to survive in an environment they weren't built for, combined with the thought bubbles created by social media that stoke divisiveness and tribal mentality, diminishing rational discourse in the process.</p>
      <p>I'm of the mindset that if we strip away the nonsense and look at the core facts, we can get a clearer picture. What did X politician say about corona virus? When did they say it? What information did we have access to at that point in time? From there people can draw their own conclusions about the quality of the decisions made.</p>
    </div>
  </div>
</div>
