<div class="container">
  <h1>Politician#trump</h1>
  <p>Find me in app/views/politician/trump.html.erb</p>
  <div class="tweet-box" style="width: 400px;">
    <a class="twitter-timeline" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
